<mat-nav-list>
    <a mat-list-item href="#" (click)="onSidenavClose()">
      <mat-icon>
        fingerprint
      </mat-icon>
      <span>Se connecter</span>

    </a>
    <a mat-list-item href="/add-patient" (click)="onSidenavClose()">
      <mat-icon>
        add
      </mat-icon>
      <span>Nouveau Patient</span>

    </a>
    <a mat-list-item href="/add-prestation" (click)="onSidenavClose()">
      <mat-icon>
        add
      </mat-icon>
      <span>Nouvelle prestation</span>

    </a>
    <a mat-list-item routerLink="/traitement" (click)="onSidenavClose()">
      <mat-icon>
        storage
      </mat-icon>
      <span>Traitements</span>

    </a>

    <a mat-list-item href="#" (click)="onSidenavClose()">
      <mat-icon>
        feedback
      </mat-icon>
      <span>feedback</span>
    </a>
    <a mat-list-item href="#" (click)="onSidenavClose()">
      <mat-icon>
        payment
      </mat-icon>
      <span>payement</span>
    </a>
    <a mat-list-item href="#" (click)="onSidenavClose()">
      <mat-icon>
        language
      </mat-icon>
      <span>langues</span>
    </a>
</mat-nav-list>
